@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0f1424;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}

body {
  width: 100vw;
}

main {
  margin: 50px 0;
  width: 100vw;
  height: 1300px;
  display: grid;
  grid-template: 220px repeat(6, 180px)/repeat(1, 1fr);
  grid-template-areas: "profile" "work" "play" "study" "exercise" "social" "self";
  justify-items: center;
}
@media (min-width: 600px) {
  main {
    width: 95%;
    max-width: 768px;
    height: auto;
    margin: 60px auto;
    grid-template: 225px repeat(3, 185px)/repeat(2, 1fr);
    grid-template-areas: "profile profile" "work play" "study exercise" "social self";
  }
}
@media (min-width: 1024px) {
  main {
    width: 95%;
    height: 850px;
    margin: 0 auto;
    max-width: 1100px;
    grid-template: repeat(2, 260px)/repeat(4, 1fr);
    column-gap: 25px;
    place-content: center;
    grid-template-areas: "profile work play study" "profile exercise social self";
  }
}

.attribution {
  font-size: 16px;
  text-align: center;
  color: white;
  margin-bottom: 30px;
}
.attribution a {
  color: #3e52a3;
}

.profile {
  height: 200px;
  border-radius: 12px;
  margin-bottom: 20px;
  grid-area: profile;
  background-color: #1c1f4a;
}
@media (max-width: 599px) {
  .profile {
    max-width: 420px;
    width: 90%;
  }
}
.profile__info {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  color: white;
  font-weight: 300;
}
.profile__info img {
  width: 80px;
  border: 3px solid white;
  border-radius: 50%;
  margin-right: 25px;
}
.profile__info .report {
  font-size: 1rem;
  color: #bdc1ff;
  font-weight: 400;
  margin-bottom: 5px;
}
.profile__info .name {
  font-weight: 300;
  font-size: 1.5rem;
}
.profile__date {
  display: flex;
  justify-content: space-around;
  background-color: #1c1f4a;
  border-radius: 12px;
}
.profile__date button {
  color: #6f76c8;
  width: 70px;
  padding-right: 5px;
  margin-top: 20px;
  font-weight: 400;
  background-color: #1c1f4a;
  border: none;
  font-size: 18px;
}
.profile__date button:hover {
  color: white;
  cursor: pointer;
}
@media (min-width: 600px) {
  .profile {
    width: 95%;
    max-width: 768px;
    display: flex;
  }
  .profile__info {
    height: 100%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  .profile__info img {
    width: 100px;
    margin-right: 30px;
  }
  .profile__info .report {
    font-size: 1rem;
    margin-bottom: 8px;
  }
  .profile__info .name {
    font-size: 1.7rem;
  }
  .profile__date {
    flex-direction: column;
    width: 50%;
    text-align: center;
    padding: 12px 0;
    align-items: center;
  }
  .profile__date button {
    margin-top: 0px;
  }
}
@media (min-width: 1024px) {
  .profile {
    max-width: 250px;
    width: 100%;
    display: inline-block;
    height: 95%;
    margin: 0;
  }
  .profile__info {
    width: 100%;
    height: 335px;
    display: inline-block;
    padding: 30px;
    position: relative;
    z-index: 2;
    border-radius: 12px;
  }
  .profile__info img {
    width: 80px;
    margin-bottom: 30px;
  }
  .profile__info .name {
    font-size: 2.2rem;
  }
  .profile__info .name span {
    display: block;
    margin-top: 7px;
  }
  .profile__date {
    width: 100%;
    height: 165px;
    text-align: left;
    position: relative;
    bottom: 20px;
    z-index: 1;
    padding: 40px 0px 0px 30px;
    justify-content: space-around;
    align-items: flex-start;
  }
  .profile button {
    text-align: start;
  }
}
.profile__info {
  background-color: #5847eb;
}

.work {
  width: 90%;
  max-width: 430px;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: work;
}
.work__background {
  width: 100%;
  height: 55px;
  border-radius: 12px;
}
.work__background--icon {
  width: 70px;
  position: relative;
  left: 100%;
  transform: translate(-100px, 0px);
  object-fit: cover;
  height: 50px;
}
.work__statistics {
  width: 100%;
  height: 120px;
  position: relative;
  bottom: 20px;
  border-radius: 12px;
  padding: 25px 20px;
  background-color: #1c1f4a;
}
.work__statistics div {
  display: flex;
  justify-content: space-between;
}
.work__statistics div p {
  color: white;
  font-weight: 500;
}
.work__statistics--ellipsis {
  width: 18px;
}
.work__statistics--ellipsis:hover {
  cursor: pointer;
}
.work__statistics--data {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}
.work__statistics--data .hours {
  font-size: 1.8rem;
  color: white;
  font-weight: 300;
}
.work__statistics--data .lastweek {
  color: #bdc1ff;
  font-size: 0.9rem;
}
.work__statistics:hover {
  cursor: pointer;
  background-color: #292e70;
}
@media (min-width: 1024px) {
  .work {
    width: 100%;
    max-width: 260px;
    height: 100%;
  }
  .work__background {
    height: 60px;
  }
  .work__background--icon {
    width: 65px;
    transform: translate(-80px, 0px);
  }
  .work__statistics {
    height: 195px;
    padding: 25px 30px;
  }
  .work__statistics p {
    margin-bottom: 15px;
  }
  .work__statistics--data {
    display: inline-block;
  }
  .work__statistics--data .hours {
    font-size: 2.7rem;
    margin-bottom: 10px;
  }
}
.work__background {
  background-color: #ff8c66;
}

.play {
  width: 90%;
  max-width: 430px;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: play;
}
.play__background {
  width: 100%;
  height: 55px;
  border-radius: 12px;
}
.play__background--icon {
  width: 70px;
  position: relative;
  left: 100%;
  transform: translate(-100px, 0px);
  object-fit: cover;
  height: 50px;
}
.play__statistics {
  width: 100%;
  height: 120px;
  position: relative;
  bottom: 20px;
  border-radius: 12px;
  padding: 25px 20px;
  background-color: #1c1f4a;
}
.play__statistics div {
  display: flex;
  justify-content: space-between;
}
.play__statistics div p {
  color: white;
  font-weight: 500;
}
.play__statistics--ellipsis {
  width: 18px;
}
.play__statistics--ellipsis:hover {
  cursor: pointer;
}
.play__statistics--data {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}
.play__statistics--data .hours {
  font-size: 1.8rem;
  color: white;
  font-weight: 300;
}
.play__statistics--data .lastweek {
  color: #bdc1ff;
  font-size: 0.9rem;
}
.play__statistics:hover {
  cursor: pointer;
  background-color: #292e70;
}
@media (min-width: 1024px) {
  .play {
    width: 100%;
    max-width: 260px;
    height: 100%;
  }
  .play__background {
    height: 60px;
  }
  .play__background--icon {
    width: 65px;
    transform: translate(-80px, 0px);
  }
  .play__statistics {
    height: 195px;
    padding: 25px 30px;
  }
  .play__statistics p {
    margin-bottom: 15px;
  }
  .play__statistics--data {
    display: inline-block;
  }
  .play__statistics--data .hours {
    font-size: 2.7rem;
    margin-bottom: 10px;
  }
}
.play__background {
  background-color: #56c2e6;
}

.study {
  width: 90%;
  max-width: 430px;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: study;
}
.study__background {
  width: 100%;
  height: 55px;
  border-radius: 12px;
}
.study__background--icon {
  width: 70px;
  position: relative;
  left: 100%;
  transform: translate(-100px, 0px);
  object-fit: cover;
  height: 50px;
}
.study__statistics {
  width: 100%;
  height: 120px;
  position: relative;
  bottom: 20px;
  border-radius: 12px;
  padding: 25px 20px;
  background-color: #1c1f4a;
}
.study__statistics div {
  display: flex;
  justify-content: space-between;
}
.study__statistics div p {
  color: white;
  font-weight: 500;
}
.study__statistics--ellipsis {
  width: 18px;
}
.study__statistics--ellipsis:hover {
  cursor: pointer;
}
.study__statistics--data {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}
.study__statistics--data .hours {
  font-size: 1.8rem;
  color: white;
  font-weight: 300;
}
.study__statistics--data .lastweek {
  color: #bdc1ff;
  font-size: 0.9rem;
}
.study__statistics:hover {
  cursor: pointer;
  background-color: #292e70;
}
@media (min-width: 1024px) {
  .study {
    width: 100%;
    max-width: 260px;
    height: 100%;
  }
  .study__background {
    height: 60px;
  }
  .study__background--icon {
    width: 65px;
    transform: translate(-80px, 0px);
  }
  .study__statistics {
    height: 195px;
    padding: 25px 30px;
  }
  .study__statistics p {
    margin-bottom: 15px;
  }
  .study__statistics--data {
    display: inline-block;
  }
  .study__statistics--data .hours {
    font-size: 2.7rem;
    margin-bottom: 10px;
  }
}
.study__background {
  background-color: #ff5c7c;
}

.exercise {
  width: 90%;
  max-width: 430px;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: exercise;
}
.exercise__background {
  width: 100%;
  height: 55px;
  border-radius: 12px;
}
.exercise__background--icon {
  width: 70px;
  position: relative;
  left: 100%;
  transform: translate(-100px, 0px);
  object-fit: cover;
  height: 50px;
}
.exercise__statistics {
  width: 100%;
  height: 120px;
  position: relative;
  bottom: 20px;
  border-radius: 12px;
  padding: 25px 20px;
  background-color: #1c1f4a;
}
.exercise__statistics div {
  display: flex;
  justify-content: space-between;
}
.exercise__statistics div p {
  color: white;
  font-weight: 500;
}
.exercise__statistics--ellipsis {
  width: 18px;
}
.exercise__statistics--ellipsis:hover {
  cursor: pointer;
}
.exercise__statistics--data {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}
.exercise__statistics--data .hours {
  font-size: 1.8rem;
  color: white;
  font-weight: 300;
}
.exercise__statistics--data .lastweek {
  color: #bdc1ff;
  font-size: 0.9rem;
}
.exercise__statistics:hover {
  cursor: pointer;
  background-color: #292e70;
}
@media (min-width: 1024px) {
  .exercise {
    width: 100%;
    max-width: 260px;
    height: 100%;
  }
  .exercise__background {
    height: 60px;
  }
  .exercise__background--icon {
    width: 65px;
    transform: translate(-80px, 0px);
  }
  .exercise__statistics {
    height: 195px;
    padding: 25px 30px;
  }
  .exercise__statistics p {
    margin-bottom: 15px;
  }
  .exercise__statistics--data {
    display: inline-block;
  }
  .exercise__statistics--data .hours {
    font-size: 2.7rem;
    margin-bottom: 10px;
  }
}
.exercise__background {
  background-color: #4acf81;
}

.social {
  width: 90%;
  max-width: 430px;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: social;
}
.social__background {
  width: 100%;
  height: 55px;
  border-radius: 12px;
}
.social__background--icon {
  width: 70px;
  position: relative;
  left: 100%;
  transform: translate(-100px, 0px);
  object-fit: cover;
  height: 50px;
}
.social__statistics {
  width: 100%;
  height: 120px;
  position: relative;
  bottom: 20px;
  border-radius: 12px;
  padding: 25px 20px;
  background-color: #1c1f4a;
}
.social__statistics div {
  display: flex;
  justify-content: space-between;
}
.social__statistics div p {
  color: white;
  font-weight: 500;
}
.social__statistics--ellipsis {
  width: 18px;
}
.social__statistics--ellipsis:hover {
  cursor: pointer;
}
.social__statistics--data {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}
.social__statistics--data .hours {
  font-size: 1.8rem;
  color: white;
  font-weight: 300;
}
.social__statistics--data .lastweek {
  color: #bdc1ff;
  font-size: 0.9rem;
}
.social__statistics:hover {
  cursor: pointer;
  background-color: #292e70;
}
@media (min-width: 1024px) {
  .social {
    width: 100%;
    max-width: 260px;
    height: 100%;
  }
  .social__background {
    height: 60px;
  }
  .social__background--icon {
    width: 65px;
    transform: translate(-80px, 0px);
  }
  .social__statistics {
    height: 195px;
    padding: 25px 30px;
  }
  .social__statistics p {
    margin-bottom: 15px;
  }
  .social__statistics--data {
    display: inline-block;
  }
  .social__statistics--data .hours {
    font-size: 2.7rem;
    margin-bottom: 10px;
  }
}
.social__background {
  background-color: #7536d3;
}

.self {
  width: 90%;
  max-width: 430px;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: self;
}
.self__background {
  width: 100%;
  height: 55px;
  border-radius: 12px;
}
.self__background--icon {
  width: 70px;
  position: relative;
  left: 100%;
  transform: translate(-100px, 0px);
  object-fit: cover;
  height: 50px;
}
.self__statistics {
  width: 100%;
  height: 120px;
  position: relative;
  bottom: 20px;
  border-radius: 12px;
  padding: 25px 20px;
  background-color: #1c1f4a;
}
.self__statistics div {
  display: flex;
  justify-content: space-between;
}
.self__statistics div p {
  color: white;
  font-weight: 500;
}
.self__statistics--ellipsis {
  width: 18px;
}
.self__statistics--ellipsis:hover {
  cursor: pointer;
}
.self__statistics--data {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}
.self__statistics--data .hours {
  font-size: 1.8rem;
  color: white;
  font-weight: 300;
}
.self__statistics--data .lastweek {
  color: #bdc1ff;
  font-size: 0.9rem;
}
.self__statistics:hover {
  cursor: pointer;
  background-color: #292e70;
}
@media (min-width: 1024px) {
  .self {
    width: 100%;
    max-width: 260px;
    height: 100%;
  }
  .self__background {
    height: 60px;
  }
  .self__background--icon {
    width: 65px;
    transform: translate(-80px, 0px);
  }
  .self__statistics {
    height: 195px;
    padding: 25px 30px;
  }
  .self__statistics p {
    margin-bottom: 15px;
  }
  .self__statistics--data {
    display: inline-block;
  }
  .self__statistics--data .hours {
    font-size: 2.7rem;
    margin-bottom: 10px;
  }
}
.self__background {
  background-color: #f1c65b;
}

/*# sourceMappingURL=index.css.map */
