//Card Mold

@mixin cards{
    width: 90%;
    max-width: 430px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__background{
        width: 100%;
        height: 55px;
        border-radius: 12px;
        &--icon{
            width: 70px;
            position: relative;
            left: 100%;
            transform: translate(-100px, 0px);
            object-fit: cover;
            height: 50px;
        }
    }
    &__statistics{
        width: 100%;
        height: 120px;
        position: relative;
        bottom: 20px;
        border-radius: 12px;
        padding: 25px 20px;
        background-color: $color-fill;
        div{ //title and image
            display: flex;
            justify-content: space-between;
            p{
                color: $color-text;
                font-weight: 500;
            }
        }
        &--ellipsis{
            width: 18px;
            &:hover{
                cursor: pointer;
            }
        }
        &--data{
            display: flex;
            margin-top: 20px;
            justify-content: space-between;
            align-items: center;
            .hours{
                font-size: 1.8rem;
                color: $color-text;
                font-weight: 300;
            }
            .lastweek{
                color: $color-text_sessions;
                font-size: .9rem;
            }
        }
        &:hover{
            cursor: pointer;
            background-color: $color-fill-active;
        }
    }
    //display desktop
    @media (min-width: 1024px){
        width: 100%;
        max-width: 260px;
        height: 100%;
        &__background{
            height: 60px;
            &--icon{
                width: 65px;
                transform: translate(-80px, 0px);
            }
        }
        &__statistics{
            height: 195px;
            padding: 25px 30px;
            p{
                margin-bottom: 15px;
            }
            &--data{
                display: inline-block;
                .hours{
                    font-size: 2.7rem;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
