//----variables----

//Fonts (size and family)
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

$font-size_card: 18px;
$font-type: 'Rubik', sans-serif;

//Colors per sessions
$color-profile: hsl(246, 80%, 60%);
$color-work: hsl(15, 100%, 70%);
$color-play:hsl(195, 74%, 62%);
$color-study: hsl(348, 100%, 68%);
$color-exercise: hsl(145, 58%, 55%);
$color-social: hsl(264, 64%, 52%);
$color-self_care: hsl(43, 84%, 65%);

//Colors of complement
$color-background: hsl(226, 43%, 10%);
$color-fill: hsl(235, 46%, 20%);
$color-text_profile: hsl(235, 45%, 61%);
$color-text_sessions: hsl(236, 100%, 87%);
$color-text: white;
$color-attribution: hsl(228, 45%, 44%);

//global standards
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: $color-background;
    font-family: $font-type;
    font-size: $font-size_card;
}