//Container
body{
  width: 100vw;
}
main{
    margin: 50px 0;
    width: 100vw;
    height: 1300px;
    display:  grid;
    grid-template: 220px repeat(6, 180px) / repeat(1, 1fr);
    grid-template-areas:
        "profile"
        "work"
        "play"
        "study"
        "exercise"
        "social"
        "self" ;
    justify-items: center;
    //display tablet
  @media (min-width: 600px){
    width: 95%;
    max-width: 768px;
    height: auto;
    margin: 60px auto;
    grid-template:  225px repeat(3, 185px) / repeat(2, 1fr);
    grid-template-areas:
    "profile profile"
    "work play"
    "study exercise"
    "social self" ;
    }
    //display desktop
    @media (min-width: 1024px){
      width: 95%;
      height: 850px;
      margin: 0 auto;
      max-width: 1100px;
      grid-template: repeat(2,260px) / repeat(4, 1fr);
      column-gap: 25px;
      place-content: center;
      grid-template-areas: 
      "profile work play study"
      "profile exercise social self";
    }
}

//footer
.attribution { 
  font-size: 16px; 
  text-align: center; 
  color: $color-text;
  a{
    color: $color-attribution; 
  }
  margin-bottom: 30px
}

//Cards
//--Profile
.profile{
  @include profile;
  grid-area: profile;
  background-color: $color-fill;
  &__info{
    background-color: $color-profile
  }
}
//sessions
.work{
   @include cards;
   grid-area: work;
   &__background{
       background-color: $color-work;
   }
}
.play{
  @include cards;
  grid-area: play;
  &__background{
    background-color: $color-play;
  }
}
.study{
    @include cards;
    grid-area: study;
    &__background{
    background-color: $color-study;
  }
}
.exercise{
    @include cards;
    grid-area: exercise;
    &__background{
    background-color: $color-exercise;
  }
}
.social{
    @include cards;
    grid-area: social;
    &__background{
    background-color: $color-social;
  }
}
.self{
    @include cards;
    grid-area: self;
    &__background{
    background-color: $color-self_care;
  }
} 